<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body {{ stimulus_controller('symfony/ux-swup/swup') }}
            data-containers="#swup">
            {% block body %}
                <nav>
                    <!--HamBurger Icon-->
                    <div class="bars" id="nav-action">
                        <span class="bar"> </span>
                    </div>

                    <!--Navbar Links-->
                    <nav id="nav">
                        <ul>
                            <li class="shape-circle circle-one"><a href={{ path('redirectTest') }}>Contact</a></li>
                            <li class="shape-circle circle-two"><a href="#">Blog</a></li>
                            <li class="shape-circle circle-three"><a href="#">Work</a></li>
                            <li class="shape-circle circle-five">
                                <a href="#">Home</a>
                            </li>
                        </ul>
                    </nav>
                </nav>
            {% endblock %}
    </body>
</html>
